[submodule "third_party/LinearRAG"]
	path = third_party/LinearRAG
	url = https://github.com/DEEP-PolyU/LinearRAG
	ignore = dirty
[submodule "third_party/QAFD-RAG"]
	path = third_party/QAFD-RAG
	url = https://github.com/Tarzanagh/QAFD-RAG
	ignore = dirty
[submodule "third_party/HippoRAG"]
	path = third_party/HippoRAG
	url = https://github.com/OSU-NLP-Group/HippoRAG
	ignore = dirty
